* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

img {
    width: 210px;
    margin: 20px;
    margin-bottom: 14px;
}

input {
    width: 300px;
    height: 27px;
    padding: 5px;
    border-width: 1px;
    border-color: rgb(230, 230, 230);
    font-size: 16px;
}

button {
    width: 130px;
    height: 27px;
    margin: 5px;
    border-width: 1px;
    border-radius: 15px;
    border-color: rgb(237, 37, 144);
    background-color: rgb(237, 37, 144);
    color: white;
    font-size: 16px;
}

a {
    font-size: 14px;
    color: rgb(113, 123, 255)
}

p {
    margin: 0px;
    font-size: 15px;
}

.titulo {
    color: rgb(237, 37, 144);
    font-weight: bold;
    font-size: 20px;
}

.descricao {
    font-size: 18px;
}

.main {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.entrar {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 400px;
    margin: 75px;
    margin-right: 90px;
    padding: 20px;
    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    border-color: rgb(220, 220, 220);
    align-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.entrada {
    display: flex;
    flex-direction: column;
    height: 150px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: first baseline;
}

.entradaDados {
    display: flex;
    flex-direction: column;
    height: 100px;
}

#entradaA {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#entradaB {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top: 0px;
}

.botoes {
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.ajuda {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 65px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(220, 220, 220);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    align-items: center;
    justify-content: end;
}

.informacoes {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-content: center;
    align-items: left;
    justify-content: space-around;
}